body {  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    position: relative;
    height: 100vh;
    background-image: url('assets/marvel-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#marvel-logo {
    max-width: 100%;
    height: auto;
    width: 300px;
}

.card {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.badge {
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.5px;
    z-index: 10;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-block; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-badges {
    margin-top: 10px;
}

.hero-classification {
    background-color: #e30419;
    color: white;
    margin-bottom: 4px; 
}

.team-affiliation {
    background-color: #007bff; 
    color: white;
}

